html {
    position: relative;
    min-height: 100%;
    background-color: #6d6161;
}

main {
    margin-top: 50px;
    margin-bottom: 70px;
    background-color: #6d6161;
}

body {
    background-color: #6d6161;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 70px;
    background-color: #f5f5f5;
}

footer {
    background: #2d2d2d;
}

footer i {
    color: #bdbdbd;
    font-size: 30px;
    padding: 5px;
}

footer i:hover {
    color: #ff7878;
}

.centered {
    text-align: center;
}

.red {
    background-color: #db5555;
}

.green {
    background-color: #487f30;
}

.hide {
    display: none;
}

