<?xml version="1.0" encoding="ISO-8859-1"?>

<taglib xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd"
        version="2.1">

    <tlib-version>1.0</tlib-version>
    <short-name>ctg</short-name>
    <uri>customtags</uri>

    <!-- Invoke 'Generate' action to add tags or functions -->
    <tag>
        <name>eventSelect</name>
        <tag-class>com.rtmznk.totalizer.tag.SelectedEventTag</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>type</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <name>isAdmin</name>
        <tag-class>com.rtmznk.totalizer.tag.AdminTag</tag-class>
        <body-content>scriptless</body-content>
    </tag>
    <tag>
        <name>printStackTrace</name>
        <tag-class>com.rtmznk.totalizer.tag.StackTraceTag</tag-class>
        <body-content>empty</body-content>
    </tag>
    <tag>
        <name>isUser</name>
        <tag-class>com.rtmznk.totalizer.tag.UserTag</tag-class>
        <body-content>scriptless</body-content>
    </tag>
    <function>
        <name>removeSpace</name>
        <function-class>com.rtmznk.totalizer.tag.SpaceReplacerFunction</function-class>
        <function-signature>java.lang.String replaceSpace(java.lang.String)</function-signature>
    </function>
    <function>
        <name>toMilliseconds</name>
        <function-class>com.rtmznk.totalizer.tag.ToMilliseconds</function-class>
        <function-signature>java.lang.String milliseconds(java.time.LocalDateTime)</function-signature>
    </function>
</taglib>
